# Temporary editor files
.*.swp
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
lib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin

# Makefiles get generated
cqrs/Makefile
cqrs/test/unit/Makefile
event_engine/Makefile
messaging/Makefile
application/unit_tests/Makefile

# Third-party linked areas
sequence
