# Temporary editor files
.*.swp
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
lib

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin

# Makefiles get generated
Makefile

# Third-party linked areas
sequence

# Specific IDE settings
.kdev4
*.kdev4
.kdev_include_paths

# CMake build directory
build
